footer{
    h5{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        background-color: rgb(121, 74, 165);
        text-align: center;
    }
    
    a{
        font-size: 12px;
        color: rgb(12, 12, 12);
        background-color:rgb(121, 74, 165);
        text-align: center;
    }
}